@page
@model BOM.Pages.VersioneDistintaBase.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.VersioneDistintaBase.Product.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VersioneDistintaBase.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VersioneDistintaBase.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VersioneDistintaBase.CreationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VersioneDistintaBase.CreationTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.VersioneDistintaBase.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
