@page "{id:int}"
@model BOM.Pages.DistintaBase.EditModel

<h1>Edit</h1>

<h4>DistintaBase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="number" asp-for="@Model.DistintaBase.Amount" />
            <input type="hidden" asp-for="@Model.DistintaBase.Id" />
            <input type="hidden" asp-for="@Model.DistintaBase.VersioneDistintaBaseId" />
            <input type="hidden" asp-for="@Model.DistintaBase.FiglioId" />
            <input type="hidden" asp-for="@Model.DistintaBase.VersioneDistintaBase.Id" />
            <input type="submit" />
        </form>
    </div>
</div>

<div>
    <a asp-page="./Details" asp-route-id="@Model.DistintaBase.VersioneDistintaBase.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
