@page
@model BOM.Pages.DistintaBase.IndexModel

@{
    ViewData["Title"] = "Index";
    var versioneDistintaBase = ViewData["VersioneDistintaBase"] as List<BOM.Model.VersioneDistintaBase>;
    var itemList = ViewData["ItemList"] as List<BOM.Model.Item>;
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Item name
            </th>
            <th>
                Version
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var item in Model.DistintaBase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VersioneDistintaBaseId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FiglioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
} *@

        @*  @foreach (var itemVersion in versioneDistintaBase)
        {
            foreach (var models in Model.DistintaBase)
            {
                foreach (var item in itemList)
                {
                    if (models.VersioneDistintaBaseId == itemVersion.Id && item.Id == itemVersion.ProductId)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@itemVersion.Version</td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@itemVersion.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            }
        } *@

        @foreach (var itemVersion in versioneDistintaBase)
        {
            foreach (var itemlist in itemList)
            {
                if (itemVersion.ProductId == itemlist.Id)
                {
                    <tr>
                        <td>@itemlist.Name</td>
                        <td>@itemVersion.Version</td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@itemVersion.Id">Details</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
